.container-backg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container-weather {
  background-color: #282c34ab;
  padding: 20px;
}
