.form-check-degree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  padding-right: 35px;
}

.container-weather {
  background-color: #282c34ab;
  padding: 20px;
}
